{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "browsers": [
            "> 2%",
            "ie >= 11",
            "not op_mini all"
          ]
        }
      }
    ],
    "@babel/react"
  ],
  "plugins": [
    ["@babel/plugin-proposal-class-properties"],
    ["@babel/plugin-proposal-logical-assignment-operators"],
    ["@babel/plugin-proposal-optional-chaining", { "loose": false }],
    ["@babel/plugin-proposal-nullish-coalescing-operator", { "loose": false }],
    ["@babel/plugin-transform-runtime"]
  ]
}
