{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": ["airbnb", "airbnb/hooks"],
  "parser": "babel-eslint",
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "alias": {
        "map": [
          ["core", "./src/__core__"],
          ["src", "./src"]
        ],
        "extensions": [".js", ".jsx", ".json"]
      }
    }
  },
  "rules": {
    "react/jsx-filename-extension": 0,
    "react/forbid-prop-types": 0,
    "import/no-extraneous-dependencies": 0,
    "max-len": ["error", { "code": 120 }],
    "linebreak-style": ["error", "unix"],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/require-default-props": "off",
    "react/jsx-props-no-spreading": ["error", {
      "html": "ignore",
      "custom": "ignore",
      "exceptions": [""]
    }]
  }
}
