{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["airbnb", "plugin:react-hooks/recommended"],
  "parser": "babel-eslint",
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "linebreak-style": ["error", "unix"],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "no-param-reassign": "error",
    "arrow-body-style": "error",
    "no-nested-ternary": "error",
    "no-else-return": ["error", {"allowElseIf": false}],
    "no-lonely-if": "error",
    "no-dupe-else-if": "error",
    "max-params": ["error", 3],
    "import/extensions": "off",
    "react/require-default-props": "off"
  }
}
