#squiggly__animation {
    --speed: 340ms;
    --iteration-count: infinite;

    -webkit-animation-name: squiggly-effect;
    animation-name: squiggly-effect;

    -webkit-animation-duration: var(--speed);
    animation-duration: var(--speed);

    -webkit-animation-timing-function: cubic-bezier(.57,.21,.69,3.25);
    animation-timing-function: cubic-bezier(.57,.21,.69,3.25);

    -webkit-animation-iteration-count: var(--iteration-count);
    animation-iteration-count: var(--iteration-count);
}

#squiggly__svg-filters {
    height: 0;
    width: 0;
}

@-webkit-keyframes squiggly-effect {
    0% {
        -webkit-filter: url('#squiggly__filter-0');
        filter: url('#squiggly__filter-0');
    }
    25% {
        -webkit-filter: url('#squiggly__filter-1');
        filter: url('#squiggly__filter-1');
    }
    50% {
        -webkit-filter: url('#squiggly__filter-2');
        filter: url('#squiggly__filter-2');
    }
    75% {
        -webkit-filter: url('#squiggly__filter-3');
        filter: url('#squiggly__filter-3');
    }
    100% {
        -webkit-filter: url('#squiggly__filter-4');
        filter: url('#squiggly__filter-4');
    }
}

@keyframes squiggly-effect {
    0% {
        -webkit-filter: url('#squiggly__filter-0');
        filter: url('#squiggly__filter-0');
    }
    25% {
        -webkit-filter: url('#squiggly__filter-1');
        filter: url('#squiggly__filter-1');
    }
    50% {
        -webkit-filter: url('#squiggly__filter-2');
        filter: url('#squiggly__filter-2');
    }
    75% {
        -webkit-filter: url('#squiggly__filter-3');
        filter: url('#squiggly__filter-3');
    }
    100% {
        -webkit-filter: url('#squiggly__filter-4');
        filter: url('#squiggly__filter-4');
    }
}
