[data-animation='glitch-squiggly']{
    -webkit-animation-name: glitch-squiggly__animation;
    animation-name: glitch-squiggly__animation;

    -webkit-animation-duration: var(--duration);
    animation-duration: var(--duration);

    -webkit-animation-timing-function: cubic-bezier(.57,.21,.69,3.25);
    animation-timing-function: cubic-bezier(.57,.21,.69,3.25);

    -webkit-animation-iteration-count: var(--iteration-count);
    animation-iteration-count: var(--iteration-count);
}

.glitch-squiggly__svg-filters {
    height: 0;
    width: 0;
}

@-webkit-keyframes glitch-squiggly__animation {
    0% {
        -webkit-filter: url('#squiggly__filter-0');
        filter: url('#squiggly__filter-0');
    }
    25% {
        -webkit-filter: url('#squiggly__filter-1');
        filter: url('#squiggly__filter-1');
    }
    50% {
        -webkit-filter: url('#squiggly__filter-2');
        filter: url('#squiggly__filter-2');
    }
    75% {
        -webkit-filter: url('#squiggly__filter-3');
        filter: url('#squiggly__filter-3');
    }
    100% {
        -webkit-filter: url('#squiggly__filter-4');
        filter: url('#squiggly__filter-4');
    }
}

@keyframes glitch-squiggly__animation {
    0% {
        -webkit-filter: url('#squiggly__filter-0');
        filter: url('#squiggly__filter-0');
    }
    25% {
        -webkit-filter: url('#squiggly__filter-1');
        filter: url('#squiggly__filter-1');
    }
    50% {
        -webkit-filter: url('#squiggly__filter-2');
        filter: url('#squiggly__filter-2');
    }
    75% {
        -webkit-filter: url('#squiggly__filter-3');
        filter: url('#squiggly__filter-3');
    }
    100% {
        -webkit-filter: url('#squiggly__filter-4');
        filter: url('#squiggly__filter-4');
    }
}
